/* Variables */
:root {
    --accent: rgb(33 90 48);
    --accent-hover: rgb(43 100 58);
    --accent-dark: rgb(22 80 38);
    --accent-dark-hover: rgb(33 90 48);
    --accent-light: rgb(98, 163, 75);

    --primary-bg: rgb(22, 27, 34);
    --primary-bg-light: rgb(33, 38, 45);
    --primary-bg-light-active: rgb(42, 47, 54);
    --secondary: rgb(73, 78, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    accent-color: var(--accent-light);
}


/* Scrollbar Styles */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary-bg);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--primary-bg);
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--primary-bg-light);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--primary-bg-light-active);
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--secondary);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--accent-light);
}

*::-webkit-scrollbar-corner {
    background-color: var(--primary-bg);
}

*::-webkit-scrollbar-corner:hover {
    background-color: var(--primary-bg-light);
}
  

body {
    width: fit-content;
    height: fit-content;
    border-radius: 0.5em;
    font-family: sans-serif;
    color: rgb(201, 209, 217);
    background-color: var(--primary-bg);
    text-decoration: none;
}

#container {
    flex-direction: column;
    overflow: auto;
    min-width: 350px;
    max-width: 800px;
    min-height: 150px;
    max-height: 500px;
}

a {
    color: rgb(47, 129, 247);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-fill.checked {
    background-color: var(--accent);
    border-color: var(--accent-dark);
}

.button-fill.checked:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-dark-hover);
}

.button {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: var(--primary-bg-light);
    border-color: var(--secondary);
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    color: rgb(201, 209, 217);
}

/* This class is un-set by JavaScript */
.icon-button.hidden {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.icon-button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.icon-invert {
    filter: invert(1);
}

.button-fill {
    flex: 1;
}

.button-sub {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 0.5em;
    font-size: 1em;
    border-width: 1px;
}

.button-sub label:hover, .button-sub input:hover {
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-bg-light-active);
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row-links {
    display: none;
}

.row-links.selected {
    display: flex;
}

#button-options {
    flex-grow: 0;
}

#button-options img {
    vertical-align: middle;
}

/* Loader Styles */
#loader {
    display: none;
}

#loader.loading {
    display: block;
    position: fixed;
    top: 5%;
    width: 100%;
    height: 100%;
    background-image: url(../icons/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* List Styles */
h3.list-header {
    margin-top: 15px;
    margin-bottom: 3px;
}

.list-item-links[data-source="custom field"]::before {
    content: "";
    position: relative;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(124 11 11);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}

/* Remove unused space between headers and the view buttons */
#list-container-links h3:first-of-type, #list-container-attachments #list-container-images ul:first-of-type {
    margin-top: 0;
}

ul.list-links, ul.list-attachments, li.list-item-images {
    display: flex;
    flex-direction: column;
}

li.list-item-links, li.list-item-attachments, li.list-item-images {
    list-style: none;
    margin-bottom: 2px;
}

li.list-item-images {
    margin-bottom: 30px;
}

li.list-item-images i {
    margin-bottom: 7px;
}

li.list-item-links {
    display: flex;
    flex-direction: row;
}

/* Force context to shrink first before shrinking the link text. */
li.list-item-links .link-context {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0px;
    min-width: 0px;
}

li.list-item-attachments ul li {
    margin-left: 10px;
    list-style: circle;
    list-style-position: inside;
}

.list-container {
    display: none;
    flex-direction: column;
    padding: 20px;
    white-space: nowrap;
    height: inherit;
}

/* This class is an option and is set on nodes by JavaScript. */
.list-container.wrap {
    white-space: normal;
}

/* This class is set by JavaScript in response to user clicking different views. */
.list-container.selected {
    display: flex;
}

/* 404 styles */
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

/* This class is un-set by JavaScript */
.not-found-container.hidden {
    display: none;
}

/* Search/Scroll-to icon styles */
.icon-li:hover {
    cursor: pointer;
}

.icon-li:hover {
    filter: invert(96%) sepia(1%) saturate(4016%) hue-rotate(179deg) brightness(93%) contrast(82%);
}

.icon-li {
    background-repeat: no-repeat;
    filter: invert(1);
    display: inline-block;
    padding: 6px;
    margin-right: 4px;
    vertical-align: middle;
}

.icon-copy {
    background-image: url(../icons/copy.svg);
}

.icon-search {
    background-image: url(../icons/search.svg);
}

/* New styles for the "Images" tab */
.button-images.checked {
    background-color: var(--accent);
    border-color: var(--accent-dark);
}

.button-images.checked:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-dark-hover);
}

#list-container-images {
    display: none;
    flex-direction: column;
    padding: 20px;
    white-space: nowrap;
}

.list-item-images {
    margin-bottom: 30px;
    max-width: 750px;
}

.list-item-images img {
    max-width: 750px;
}

#list-container-images img:hover {
    cursor: pointer;
}

#list-container-images.selected {
    display: flex;
}

/* New styles for the "What's new?" button */
#button-whats-new {
    background-color: var(--accent);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: inline-block;
    margin-left: auto;
}

#button-whats-new:hover {
    background-color: var(--accent-hover);
}
