body {
    font-family: sans-serif;
    color: rgb(201, 209, 217);
    background-color: rgb(22, 27, 34);
    color-scheme: dark;
}

/* Generic Input Styles */
button:hover,
input[type="checkbox"]:enabled:hover,
input[type="file"],
input[type=file]::-webkit-file-upload-button,
select {
    /* Found solution for "Choose File" button not applying styles here:
    https://stackoverflow.com/questions/1537223/change-cursor-type-on-input-type-file */
    cursor: pointer;
    background-color: rgb(39, 44, 51);
}

button {
    border-radius: 4px;
    padding: 2px 12px;
    background-color: rgb(33, 38, 45);
    border-color: rgba(240, 246, 252, 0.1);
    color: rgb(201, 209, 217);
}

button:disabled {
    background-color: rgb(39, 44, 51);
    color: rgb(148 147 147);
}

button:disabled:hover {
    cursor: not-allowed;
}

.input-label {
    position: relative;
  }
  
.input-label::after {
    content: "?";
    position: absolute;
    top: -15px;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(148 147 147);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}

.input-container-column {
    display: flex;
    flex-direction: column;
}

.input-container-row [type="text"] {
    width: 200px;
}

.input-container-row label {
    font-weight: bold;
    margin: 0 2px 0 15px;
}

.input-container-row label:first-child {
    margin-left: 0;
}

.input-container-row {
    margin-bottom: 15px;
}

.input-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-container-row * {
    margin: 0 5px;
}

#link-patterns-error {
    background-color: rgb(179 0 0 / 18%);
    padding: 10px;
    border: 2px solid rgb(179 0 0 / 18%);
}

.hidden {
    display: none;
}

/* Table Styles */
table#table-link-patterns {
    border-collapse: collapse;
}

table#table-link-patterns td, table#table-link-patterns th {
    border: 1px solid rgb(201, 209, 217);
    text-align: center;
}

table#table-link-patterns td {
    padding: 5px 10px;
}

table#table-link-patterns th {
    font-size: 15px;
    background-color: rgb(32, 37, 45);
    padding: 10px;
}

table tr.editing {
    background-color: rgb(179 0 0 / 18%);
}