* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    min-width: 350px;
    max-width: 500px;
    height: fit-content;
    min-height: 150px;
    max-height: 500px;
    border-radius: 0.5em;
    overflow: auto;
    font-family: sans-serif;
    color: rgb(201, 209, 217);
    background-color: rgb(22, 27, 34);
    text-decoration: none;
}

#container {
    flex-direction: column;
    overflow: auto;
}

a {
    color: rgb(47, 129, 247);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button.checked {
    -webkit-box-shadow: inset -3px -4px 8px -2px #000000; 
    box-shadow: inset -3px -4px 8px -2px #000000;
}

.button {
    flex-direction: row;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    flex: 1;
    background-color: rgb(33, 38, 45);
    border-color: rgba(240, 246, 252, 0.1);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: rgb(201, 209, 217);
}


.row {
    flex: 1;
    position: absolute;
    width: 100%;
}

/* Loader Styles */
#loader {
    display: none;
}

#loader.loading {
    display: block;
    position: fixed;
    top: 5%;
    width: 100%;
    height: 100%;
    background-image: url(../icons/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* List Styles */
h3.list-header {
    margin-top: 15px;
    margin-bottom: 3px;
}

/* Add some space between headers and the view buttons */
#list-container-links h3:nth-child(1), #list-container-attachments ul:nth-child(1) {
    margin-top: 35px;
}

ul.list-links, ul.list-attachments {
    display: flex;
    flex-direction: column-reverse;
}

li.list-item-links, li.list-item-attachments {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 2px;
}

/* Force context to shrink first before shrinking the link text. */
li.list-item-links .link-context {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0px;
    min-width: 0px;
}

li.list-item-attachments ul li {
    margin-left: 10px;
    list-style: circle;
    list-style-position: inside;
}

.list-container {
    display: none;
    flex-direction: column;
    padding: 20px;
    white-space: nowrap;
    height: inherit;
}

/* This class is an option and is set on nodes by JavaScript. */
.list-container.wrap {
    white-space: normal;
}

/* This class is set by JavaScript in response to user clicking different views. */
.list-container.selected {
    display: flex;
}



/* Search/Scroll-to icon styles */
.icon-search:hover {
    cursor: pointer;
}

.icon-search:hover {
    filter: invert(96%) sepia(1%) saturate(4016%) hue-rotate(179deg) brightness(93%) contrast(82%);
}

.icon-search {
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    filter: invert(1);
    display: inline-block;
    padding: 6px;
    margin-right: 4px;
    vertical-align: middle;
}