* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: fit-content;
    min-width: 350px;
    max-width: 500px;
    height: fit-content;
    min-height: 150px;
    max-height: 500px;
    border-radius: 0.5em;
    overflow: scroll;
    font-family: sans-serif;
    color: rgb(201, 209, 217);
    background-color: rgb(22, 27, 34);
    text-decoration: none;
}

a {
    color: rgb(47, 129, 247);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button.checked {
    -webkit-box-shadow: inset -3px -4px 8px -2px #000000; 
    box-shadow: inset -3px -4px 8px -2px #000000;
}

.button {
    flex-direction: row;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    flex: 1;
    background-color: rgb(33, 38, 45);
    border-color: rgba(240, 246, 252, 0.1);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: rgb(201, 209, 217);
}

#container {
    flex-direction: column;
    overflow-x: auto;
    height: inherit;
    width: inherit;
    max-width: 500px;
}

.row {
    flex: 1;
    position: absolute;
    width: 100%;
}

h3.list-header {
    margin-top: 15px;
    margin-bottom: 3px;
}

ul.list-links, ul.list-attachments {
    display: flex;
    flex-direction: column-reverse;
}

li.list-item-links, li.list-item-attachments {
    list-style: none;
    margin-bottom: 2px;
}

li.list-item-attachments ul li {
    margin-left: 10px;
    list-style: circle;
    list-style-position: inside;
}

.list-container {
    display: none;
    flex-direction: column;
    padding: 20px;
    white-space: nowrap;
    height: inherit;
}

.list-container.selected {
    display: flex;
}

#list-container-links h3:nth-child(1), #list-container-attachments ul:nth-child(1) {
    margin-top: 35px;
}

.icon-search:hover {
    cursor: pointer;
}

.icon-search:hover {
    filter: invert(96%) sepia(1%) saturate(4016%) hue-rotate(179deg) brightness(93%) contrast(82%);
}

.icon-search {
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    filter: invert(1);
    display: inline-block;
    padding: 6px;
    margin-right: 4px;
    vertical-align: middle;
}